<title>Bill of Structure</title>

{% extends 'base.html' %}
{% block content %}
<div class="card" style="width: 80rem;">
  <h3 class="card-header">Inputs</h3>
  <div class="card-body">
    <form method="post">
      <div class="mb-3">
          <label for="txt_module_length" class="form-label">Largura do Módulo</label>
          <input type="number" step=".01" class="form-control" name="txt_module_length" id="txt_module_length" value="{{structure.module.length}}">
          <div id="lbl_module_length" class="form-text">Insira a Largura do Módulo.</div>
      </div>
      <div class="mb-3">
          <label for="txt_module_amount" class="form-label">Quantidade de Módulos</label>
          <input type="number" class="form-control" name="txt_module_amount" id="txt_module_amount" value="{{structure.module_amount}}">
          <div id="lbl_module_amount" class="form-text">Insira a Quantidade de Módulos.</div>
      </div>
      <div class="mb-3">
          <label for="txt_table_amount" class="form-label">Quantidade de Mesas</label>
          <input type="number" class="form-control" name="txt_table_amount" id="txt_table_amount" value="{{structure.table_amount}}">
          <div id="lbl_table_amount" class="form-text">Insira a Quantidade de Mesas.</div>
      </div>
      <div class="mb-3 form-check">
        {% if structure.inverter_table %}
          <input type="checkbox" class="form-check-input" name="chk_inverter" id="chk_inverter" value="inverter_table" checked>
        {% else %}
          <input type="checkbox" class="form-check-input" name="chk_inverter" id="chk_inverter" value="inverter_table">
        {% endif %}
          <label class="form-check-label" for="chk_inverter">Inversor instalado na Mesa</label>
      </div>
      <button type="submit" class="btn btn-primary">Calcular</button>
    </form>
  </div>
</div>
<div class="card" style="width: 80rem;">
  <h3 class="card-header">Outputs</h3>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Descrição</th>
          <th scope="col">Quantidade</th>
        </tr>
      </thead>
      <tbody>
        {% for row in structure.bom %}
          <tr>
            <td>{{row}}</td>
            <td>{{structure.bom[row]['descricao']}}</td>
            <td>{{structure.bom[row]['quantidade']}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

