<title>Bill of Structure</title>

{% extends 'base.html' %}
{% block content %}
<form method="post">
  <div class="card" style="width: 80rem;">
    <h3 class="card-header">Inputs</h3>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="mb-3">
            <label for="txt_customers_name" class="form-label">Nome do Cliente</label>
            <input type="text" class="form-control" name="txt_customers_name" id="txt_customers_name" value="{{power_plant.customers_name}}">
            <div id="lbl_customers_name" class="form-text">Insira o Nome do Cliente.</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="txt_module_length" class="form-label">Comprimento do Módulo</label>
              <input type="number" step=".01" class="form-control" name="txt_module_length" id="txt_module_length" value="{{power_plant.module.length}}">
              <div id="lbl_module_length" class="form-text">Insira o comprimento do Módulo.</div>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="txt_power_plant_total" class="form-label">Potência Total</label>
              <input type="number" step=".01" class="form-control" name="txt_power_plant_total" id="txt_power_plant_total" value="{{power_plant.power}}">
              <div id="lbl_power_plant_total" class="form-text">Insira a Potência Total da Usina em kWp.</div>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="txt_module_power" class="form-label">Potência do Módulo</label>
              <input type="number" class="form-control" name="txt_module_power" id="txt_module_power" value="{{power_plant.module.power}}">
              <div id="lbl_module_power" class="form-text">Insira a Potência do Módulo.</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="mb-3 form-check">
            {% if power_plant.inverter_table %}
              <input type="checkbox" class="form-check-input" name="chk_inverter" id="chk_inverter" value="inverter_table" checked>
            {% else %}
              <input type="checkbox" class="form-check-input" name="chk_inverter" id="chk_inverter" value="inverter_table">
            {% endif %}
              <label class="form-check-label" for="chk_inverter">Inversor instalado na Mesa</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card" style="width: 80rem;">
    <h3 class="card-header">Concreto</h3>
    <div class="card-body">
      <div class="container">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="txt_height_buried" class="form-label">Altura da Base Enterrada</label>
                    <input type="number" step="0.01" class="form-control" name="txt_height_buried" id="txt_height_buried" value="{{power_plant.concrete.height_buried}}">
                    <div id="lbl_height_buried" class="form-text">Insira a Altura da Base Enterrada.</div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="txt_ray_buried" class="form-label">Raio da Base Enterrada</label>
                    <input type="number" step="0.01" class="form-control" name="txt_ray_buried" id="txt_ray_buried" value="{{power_plant.concrete.ray_buried}}">
                    <div id="lbl_ray_buried" class="form-text">Insira o Raio da Base Enterrada.</div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="txt_volume_buried" class="form-label">Calculo m³</label>
                    <input type="number" step="0.01" class="form-control" name="txt_volume_buried" id="txt_volume_buried" value="{{power_plant.concrete.volume_buried}}" placeholder="0.00" disabled>
                    <div id="lbl_volume_buried" class="form-text">Resultado Calculo m³.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="txt_height_exposed" class="form-label">Altura da Base Exposta</label>
                    <input type="number" step="0.01" class="form-control" name="txt_height_exposed" id="txt_height_exposed" value="{{power_plant.concrete.height_exposed}}">
                    <div id="lbl_height_exposed" class="form-text">Insira a Altura da Base Exposta.</div>
                </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label for="txt_ray_exposed" class="form-label">Raio da Base Exposta</label>
                <input type="number" step="0.01" class="form-control" name="txt_ray_exposed" id="txt_ray_exposed" value="{{power_plant.concrete.ray_exposed}}">
                <div id="lbl_ray_exposed" class="form-text">Insira o Raio da Base Exposta.</div>
            </div>
            </div>
            <div class="col">
            <div class="mb-3">
                <label for="txt_volume_exposed" class="form-label">Calculo m³</label>
                <input type="number" step="0.01" class="form-control" name="txt_volume_exposed" id="txt_volume_exposed" value="{{power_plant.concrete.volume_exposed}}" placeholder="0.00" disabled>
                <div id="lbl_volume_exposed" class="form-text">Resultado Calculo m³.</div>
            </div>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card" style="width: 80rem;">
    <h3 class="card-header">Outputs</h3>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Descrição</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Unidade</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Potência da Usina</td>
            <td>{{power_plant.real_power}}</td>
            <td>kWp</td>
          </tr>
          <tr>
            <td>Quantidade Total de Módulos</td>
            <td>{{power_plant.module_amount}}</td>
            <td>un</td>
          </tr>
          {% for i in power_plant.tables.tables_amount %}
            <tr>
              <td>MESA DE {{i[1]}} MÓDULOS</td>
              <td>{{i[0]}}</td>
              <td>un</td>
            </tr>
          {% endfor %}
          <tr>
            <td>Volume de Concreto ({{power_plant.concrete.feature}})</td>
            <td>{{power_plant.concrete.volume_total}}</td>
            <td>m³</td>
          </tr>
          <tr>
            <td>Quantidade total de Bases</td>
            <td>{{power_plant.concrete.base_amount}}</td>
            <td>un</td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Descrição</th>
            {% for i in power_plant.tables.tables_amount %}
              <th scope="col">Quantidade</th>
              {% endfor %}
              <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          {% for row in power_plant.structures[0].bom %}
            <tr>
              <td>{{row}}</td>
              <td>{{power_plant.structures[0].bom[row]['descricao']}}</td>
              {% for i in power_plant.structures %}
                <td>{{power_plant.structures[loop.index0].bom[row]['quantidade']}}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</form>
{% endblock %}