{% extends 'base.html' %}
{% block content %}
  <form method="POST">
    <div class="card" style="width: 80 rem">
      <div class="card-header">Comentários</div>
      <div class="card-body">
        <div class="input-group">
          <span class="input-group-text">Deixe Aqui Comentários</span>
          <textarea class="form-control" aria-label="With textarea" name="txt_comments" id="txt_comments"></textarea>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </div>
      <div class="card-body">
        <div class="container">
          {% for comment in comments %}
            <div class="row">
              {{comment.content}}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </form>
{% endblock %}